.taskContainer {
    margin: 0px auto;
    padding: 40px 120px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  
  
  /* Left column - Task details */
  .priority {
    border: 0.5px solid;
    border-radius: 3px;
    padding: 4px 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    width: fit-content;
  }
  .priority img {
    margin-right: 4px;
  }
  
  .taskHeaderTop {
    display: flex;
    gap: 18px;
  }
  
  .department {
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  
  .taskDetails {
    display: flex;
    flex-direction: column;
    max-width: 715px;
  }
  
  .taskHeader {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .taskTitle {
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #212529;
  }
  
  .taskDescription {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  
  .taskInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
  }
  
  .taskDetailsTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2a2a2a;
  }
  
  .infoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;


  }
  
  .infoLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 150px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #474747;
  }
  
  .infoValue {
    width: 260px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color:#0D0F10;
  }
  
  .employeeAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  
  .employeeTitle {
    display: flex;
    flex-direction: column;
  }
  
  .employeeDepartment {
    font-weight: 300;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#474747;
  }
  
  .employeeName {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color:#0D0F10;
  }
  
  .statusSelector {
    width: 100%;
  }
  
  .select {
    width: 100%;
  }
  
  .commentsContainer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  /* Right column - Comments section */
  .commentsSection {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 40px 45px;
    width: 740px;
  }
  
  .commentForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 18px 20px 15px 20px;
    border: 0.3px dashed #adb5bd;
    border-radius: 10px;
  }
  
  .commentInput {
    padding: 10px 0;
    border: none;
    height: 20px;
    max-height: 100px;
    overflow-y: hidden;
    resize: none;
  }
  
  .commentInput:active {
    border: none;
  }
  
  .commentButton {
    align-self: flex-end;
    padding: 8px 20px;
    background-color: #8338ec;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .commentButton:hover {
    background-color: #b588f4;
  }
  
  .commentButton:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .commentsTitle {
    margin-top: 65px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .commentsTitle span {
    padding: 5px;
    border-radius: 30px;
    width: 30px;
    height: 22px;
    background-color: #8338ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }
  
  .commentsList {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  
  .subCommentList{
    display: flex;
    flex-direction: column-reverse;
  }

  .commentItem {
    display: flex;
    flex-direction: column;
  }

  .parentComment{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .commentHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .commentContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .commentAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .commentAuthor {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  
  .commentText {
    margin: 0;
    font-weight: 350;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  
  .replyButton {
    color: #8338ec;
    border: none;
    background-color: transparent;
    padding: 6px;
    gap: 6px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  
  .replyButton:hover {
    color: #B588F4;
  }
  
  .replyForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 18px 20px 15px 20px;
    border: 0.3px dashed #adb5bd;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  .replyInput {
    padding: 10px 0;
    border: none;
    height: 20px;
    max-height: 100px;
    overflow-y: hidden;
    resize: none;
  }
  
  .replyInput:active {
    border: none;
  }
  
  .replySubmitButton {
    align-self: flex-end;
    padding: 8px 20px;
    background-color: #8338ec;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .replySubmitButton:hover {
    background-color: #b588f4;
  }
  
  .replySubmitButton:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .subComment {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }